*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.Card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: rgb(252, 69, 69);
    margin: 1rem;
    width: 15rem;
    height: 20rem;
    border-radius: 2rem;
    box-shadow: 5px 5px 10px rgb(109, 109, 109);
    
}

.Card img{
    width: 10rem;
    height: 10rem;
    background-color: white;
    border-radius: 50%;
    padding: 0.5rem;
    margin: 1rem 0rem;
    border: 3px solid rgb(255, 34, 34);
}

.Card h3{
    color: white;
}

.Card p{
    color: white;
}

.logo{
    width: 100%;
}

.input{
    width: 20rem;
    height: 2rem;
    margin: 1.5rem;
}

.search{
    padding: 0.5rem 1rem;
    background-color: rgb(255, 34, 34);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
}

@media screen and (max-width: 530px) {
    .form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .search{
        padding: 0.5rem 5rem;
        margin: 1rem 0rem;
    }
}